/*CSS Reset*/
* {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
}

#landing-section {
	max-width: 100%;
	height: 85vh;
	display: flex;
	align-items: center;
	background-color: #7FFFD4;
	background-image: url("../images/bg-image.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	/*back: 0.3*/
	/*color: rgb(201, 76, 76);*/
	position: relative;
	margin-bottom: 10px;
}

.container {
	padding: 5px 10px;
}